<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548204521273-m614nhmda9cn7pnb1f7e5mtouf43o9ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548204521273-m614nhmda9cn7pnb1f7e5mtouf43o9ua</string>
	<key>API_KEY</key>
	<string>AIzaSyDY9F1LzJKEk7c2zc8f-cuY8Fz3pZu61dw</string>
	<key>GCM_SENDER_ID</key>
	<string>548204521273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.gangburit.TodoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-b585e</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-b585e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548204521273:ios:725acb76c16ceafeacaae8</string>
</dict>
</plist>